:root {
    --header-height: 10vh; /* 10% de la hauteur pour le header */
    --border-width: 10px;
    --icon-size: min(18vmin, 100px);
}


* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#222;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    color: #EEE;
    height:100vh;
    width:100vw;
    margin:0px;
}

.header {
    width: 100%;
    height: var(--header-height);
}

#time, #battery {
    color: white;
    font-size: calc(var(--header-height)/2);
    line-height: calc(var(--header-height)/2);
    position: absolute;
}

.working > div {
    text-align: center;
    display: inline-table;
    box-sizing: border-box;
    border: transparent solid 2px;
    height: 100%;
    width: 10vw;
}

.working {
    top : calc(var(--header-height)/2);
    width: 100%;
    height: calc(var(--header-height)/2);
    position: absolute;
    font-size: calc(0.65*var(--header-height)/2);
    display: flex;
    justify-content: center;
}

#time {
    left: 10px;
}

#battery {
    right: 10px;
}

div.body {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: calc(100% - var(--header-height));
    box-sizing: border-box;
    border: transparent solid var(--border-width);
    font-size: 0px;
}

div.body > div {
    width: 100%;
    height: 95%;
}

div.body > div > div {
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    border: transparent solid var(--border-width); 

    width: 50%;
    height: 90%;
}

div.body > div > div > i {
    position: relative;
    font-size: var(--icon-size);
    top: 50%;
    margin-top: calc(var(--icon-size) / -2)
}

.spacer {
    color: transparent;
}

div.body.main > div {
    height: calc(100% / 5);
}

div.body.main > div > div {
    width: 100%;
}

div.body.wheelchair > div {
    height: calc(100% / 5);
}

div.body.actuator > div {
    height: calc(100% / 7);
}

div.body.IR > div {
    height: calc(100% / 4);
}

div.body.IR > div > div {
    width: 100%;
}

div.body.TV > div {
    height: calc(100% / 8);
}

div.body.TV > div > div {
    width: calc(100%/4);
}

div.body.light > div {
    height: calc(100% / 4);
}

#IR {
    background-image: url("svg_icon/IR.svg");
}

#button_wheelchair {
    background-image: url("svg_icon/button_wheelchair.svg");
}

#button_back, #button_back_index, #button_back_ir {
    background-image: url("svg_icon/button_back.svg");
}

#A {
    background-image: url("svg_icon/A.svg");
}

#current_speed {
    background: none;
    font-size: 30px;
}

#max_speed {
    background: none;
}

.icon {
    background: url("svg_icon/button_default.svg") no-repeat center;
    background-size: contain;
}

.svg {
    background: no-repeat center;
    background-size: contain;
}